$grey: #969799;
$lightgrey: #C8CACC;
$lightgrey-2: #F0F1F2;
$darkgrey-2: #D9DBDE;
$darkgrey: #707173;

$green: #15C176;
$danger: #f44336;
$primary: #025ED7;
$primaryShade1: #0247A1;
$primaryWithDarkShade: #012F6B;
$secondary: #81AFEB;