.__m-a{
    margin: auto;
}
.__ml-a{
    margin-left: auto !important;
}
.__mr-a{
    margin-right: auto !important;
}
.__mt-a{
    margin-top: auto !important;
}
.__mb-a{
    margin-bottom: auto !important;
}


.__m{
    margin: 1em !important;
}
.__mt-1{
    margin-top: 1em !important;
}
.__mb-1{
    margin-bottom: 1em !important;
}
.__ml-1{
    margin-left: 1em !important;
}
.__mr-1{
    margin-right: 1em !important;
}

.__mt-15{
    margin-top: 1.5em !important;
}
.__mb-15{
    margin-bottom: 1.5em !important;
}
.__mr-15{
    margin-right: 1.5em !important;
}
.__ml{
    margin-left: 1.5em !important;
}

.__m-2{
    margin: 2em;
}
.__mt-2{
    margin-top: 2em !important;
}
.__mb-2{
    margin-bottom: 2em !important;
}
.__ml-2{
    margin-left: 2em !important;
}
.__mr-2{
    margin-right: 2em !important;
}


.__mt-25{
    margin-top: 2.5em !important;
}
.__mb-25{
    margin-bottom: 2.5em !important;
}

.__m-3{
    margin: 3em;
}
.__mt-3{
    margin-top: 3em !important;
}
.__mb-3{
    margin-bottom: 3em !important;
}
.__ml-3{
    margin-left: 3em !important;
}

.__mt-35{
    margin-top: 3.5em !important;
}
.__mb-35{
    margin-bottom: 3.5em !important;
}
.__ml-35{
    margin-left: 3.5em !important;
}
.__mr-35{
    margin-right: 3.5em !important;
}

.__m-4{
    margin: 4em;
}
.__mb-4{
    margin-bottom: 4em !important;
}
.__mr-4{
    margin-right: 4em !important;
}


.__mtb--1{
    margin: -1em 0;
}


.__m-s{
    margin: 0.8em !important;
}
.__mt-s{
    margin-top: 0.8em !important;
}
.__ml-s{
    margin-left: 0.8em !important;
}
.__mr-s{
    margin-right: 0.8em !important;
}
.__mb-s{
    margin-bottom: 0.8em !important;
}
.__ml-sm{
    margin-left: 0.4em !important;
}
.__mb-sm{
    margin-bottom: 0.4em !important;
}
.__mr-sm{
    margin-right: 0.4em !important;
}

.__m-sm{
    margin: 0.4em !important;
}
.__mt-sm{
    margin-top: 0.4em !important;
}

.__mt-4{
    margin-top: 4em !important;
}
.__ml-4{
    margin-left: 4em !important;
}
.__pt-s{
    padding-top: 0.8em !important;
}
.__pb-s{
    padding-bottom: 0.8em !important;
}
.__pt-sm{
    padding-top: 0.4em !important;
}
.__pb-sm{
    padding-bottom: 0.4em !important;
}
.__pr-sm{
    padding-right: 0.4em !important;
}

.__p{
    padding: 1em !important;
}
.__pl-1{
    padding-left:  1em !important;
}
.__pr-1{
    padding-right: 1em !important;
}
.__pb-1{
    padding-bottom: 1em !important;
}
.__p-2{
    padding: 2em !important;
}
.__p-15{
    padding: 1.5em !important;
}
.__pl-2{
    padding-left: 2em !important;
}
.__pr-2{
    padding-right: 2em !important;
}
.__pb-2{
    padding-bottom: 2em !important;
}
.__p-3{
    padding: 3em !important;
}
.__pl-3{
    padding-left: 3em !important;
}
.__pr-4{
    padding-right: 4em !important;
}
.__pb-b{
    padding-bottom: 1em;
}
.__pt-1{
    padding-top: 1em;
}
.__p-sm{
    padding: 0.4em !important;
}

.__pl-sm{
    padding-left: 0.4em;
}
.__pr-sm{
    padding-right: 0.4em;
}
.__p-4{
    padding: 4em;
}
.__pb-4{
    padding-bottom: 4em !important;
}
.__right{
    text-align: right;
}
.__center{
    text-align: center;
}
.__block{
    display: block;
}
.__inline-block{
    display: inline-block;
}
.__line-height{
    line-height: 2em;
}
.__left{
    text-align: left;
}
.__p-12{
    padding: 1.2em !important;
}